[submodule "springmvc"]
	path = springmvc
	url = https://github.com/bunsung92/springmvc
[submodule "core"]
	path = core
	url = https://github.com/bunsung92/core
[submodule "servlet"]
	path = servlet
	url = https://github.com/bunsung92/servlet
